# Ignore Unity-generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Ignore IDE-specific files
.vs/
.idea/
.vscode/

# Ignore Visual Studio files
*.csproj
*.sln
*.userprefs
*.pidb
*.suo
*.booproj
*.svd

# Ignore Unity-specific generated meta files
*.pidb.meta
*.pdb.meta

# Ignore Build artifacts
*.apk
*.unitypackage

